#top #wrap_all #main {
    // Fullwidth sliders
    .avia-fullwidth-slider {
        .avia-slideshow .caption_fullwidth {
            .slideshow_caption .slideshow_align_caption {
                padding: 0;

                .avia-caption-title {
                    font-family: $font-acme;
                    font-size: 3rem;
                    color: white;
                    margin: 0 0 -7px 0;
                    text-transform: uppercase;
                }
            }
        }

        .avia-slideshow-arrows {
            display: none;
        }

        .avia-slideshow-dots {
            a {
                width: 10px;
                height: 10px;
                color: white;
                background-color: white;
                padding: 0;
                margin-right: 5px;

                &:last-child {
                    margin: 0;
                }

                &.active {
                    color: $color-orange;
                    background-color: $color-orange;
                }
            }
        }
    }

    // Avia Content Slider (archives)
    // Remove meta info from Team archive
    .avia-content-slider {
        .slide-entry-wrap {
            margin: 0;

            .slide-entry {
                margin-bottom: 30px;

                .entry-content-header {
                    .blog-categories {
                        display: none;
                    }
                }

                .slide-meta {
                    display: none;
                }

                .slide-entry-excerpt {
                    .read-more-link a {
                        color: $color-orange;
                        font-weight: $font-bold;

                        .more-link-arrow {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    // Accordion
    .togglecontainer {
        .single_toggle {
            .toggler {
                border-color: $color-orange;
                color: $color-orange;
                font-weight: $font-bold;

                .toggle_icon {
                    border-color: $color-orange;

                    span {
                        border-color: $color-orange;
                    }
                }

                &.activeTitle {
                    background-color: $color-orange;
                    color: white;

                    .toggle_icon {
                        border-color: white;

                        span {
                            border-color: white;
                        }
                    }
                }
            }

            .toggle_wrap {
                border-color: $color-orange;

                .toggle_content {
                    border-color: $color-orange;
                    background-color: $color-orange;
                    color: white;
                    padding-top: 0;
                    margin: 0;

                    p {
                        color: white;
                    }
                }
            }
        }
    }

    // Accordion White
    .accordion-white {
        .togglecontainer {
            .single_toggle {
                .toggler {
                    border-color: $color-orange;
                    color: $color-orange;
                    font-weight: $font-bold;

                    .toggle_icon {
                        border-color: $color-orange;

                        span {
                            border-color: $color-orange;
                        }
                    }

                    &.activeTitle {
                        background-color: $color-orange;
                        color: white;

                        .toggle_icon {
                            border-color: white;

                            span {
                                border-color: white;
                            }
                        }
                    }
                }

                .toggle_wrap {
                    border-color: $color-orange;


                    .toggle_content {
                        border-color: $color-orange;
                        background-color: transparent;
                        color: $color-gray-dark;
                        padding-top: 20px;
                        margin: 0;

                        p {
                            color: $color-gray-dark;
                        }
                    }
                }
            }
        }
    }

    // Buttons
    .avia-button-wrap {
        .avia-button {
            background-color: $color-orange;
            border-color: $color-orange-dark;
            border-radius: 0;
            font-weight: bold;
        }
    }

    // Spacer
    .hr-default {
        margin: 10px 0;
    }
}

@media screen and (max-width: $media-tablet) {
    .responsive #top #wrap_all #main {
        // Fullwidth sliders
        .avia-fullwidth-slider {
            .avia-slideshow .caption_fullwidth {
                .slideshow_caption .slideshow_inner_caption {
                    padding: 0;

                    .avia-caption-title {
                        font-size: 2rem !important;
                        line-height: 2.2rem;
                    }
                }
            }
        }

        .avia-content-slider {
            .slide-entry-wrap .slide-entry {
                width: 100%;
                margin: 0 0 30px 0;

                .slide-image {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $media-mobile) {
    .responsive #top #wrap_all #main {
        // Fullwidth sliders
        .avia-fullwidth-slider {
            .avia-slideshow .caption_fullwidth {
                .slideshow_caption .slideshow_inner_caption {
                    padding: 0;

                    .avia-caption-title {
                        font-size: 1.25rem !important;
                        line-height: 1.9rem;
                    }
                }
            }

            .avia-slideshow-dots {
                a {
                    bottom: 20px;
                }
            }
        }

        .avia-content-slider {
            .slide-entry-wrap .slide-entry {
                width: 100%;
                margin: 0 0 30px 0;

                .slide-image {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}