#top #wrap_all #main {
    // Avia Content Slider (archives)
    // Remove meta info from Team archive
    .avia-content-slider {
        .slide-entry-wrap {
            margin: 0;

            .slide-entry {
                margin-bottom: 30px;

                .entry-content-header {
                    .blog-categories {
                        display: none;
                    }
                }

                .slide-meta {
                    display: none;
                }

                .slide-entry-excerpt {
                    .read-more-link a {
                        color: $color-orange;
                        font-weight: $font-bold;

                        .more-link-arrow {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    // Accordion
    .togglecontainer {
        .single_toggle {
            .toggler {
                border-color: $color-orange;
                color: $color-orange;
                font-weight: $font-bold;

                .toggle_icon {
                    border-color: $color-orange;

                    span {
                        border-color: $color-orange;
                    }
                }

                &.activeTitle {
                    background-color: $color-orange;
                    color: white;

                    .toggle_icon {
                        border-color: white;

                        span {
                            border-color: white;
                        }
                    }
                }
            }

            .toggle_wrap {
                border-color: $color-orange;

                .toggle_content {
                    border-color: $color-orange;
                    background-color: $color-orange;
                    color: white;
                    padding-top: 0;
                    margin: 0;

                    p {
                        color: white;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $media-tablet) {
    .responsive #top #wrap_all #main {
        .avia-content-slider {
            .slide-entry-wrap .slide-entry {
                width: 100%;
                margin: 0 0 30px 0;

                .slide-image {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}