#top #wrap_all #main {
    // Enfold form element
    .avia_ajax_form {
        .form_element {
            label {
                abbr.required {
                    color: red;
                }
            }
        }
    }
}

// Volunteer Application Form
#wpcf7-f946-o1 {
    .wpcf7-form {
        display: flex;
        flex-wrap: wrap;

        p {
            width: 49%;
            margin: 0 1% 0 0;

            label > sup {
                color: red;
            }

            // Radio
            .wpcf7-radio {
                display: block;
                margin-bottom: 20px;
            }

            // Checkboxes
            .wpcf7-checkbox {
                .wpcf7-list-item {
                    width: 100%;
                    margin: 0;
                }
            }

            input[type="submit"] {
                margin-top: 20px;
                font-family: $font-main;
                font-size: 0.85rem;
                font-weight: bold;
                background-color: $color-orange;
            }

            &:nth-child(16), &:nth-child(17), &:nth-child(22), &:nth-child(23) {
                width: 100%;
                margin: 0;
            }
        }
    }

    // reCAPTCHA
    .wpcf7-form-control-wrap {
        width: 100%;
        margin: 20px 0 0 0;
    }
}

// Education Program Request
#wpcf7-f1071-o1 {
    .wpcf7-form {
        display: flex;
        flex-wrap: wrap;

        p {
            width: 49%;
            margin: 0 1% 0 0;

            label > sup {
                color: red;
            }

            // Radio
            .wpcf7-radio {
                display: block;
                margin-bottom: 20px;
            }

            // Checkboxes
            .wpcf7-checkbox {
                .wpcf7-list-item {
                    width: 100%;
                    margin: 0;
                }
            }

            input[type="submit"] {
                margin-top: 20px;
                font-family: $font-main;
                font-size: 0.85rem;
                font-weight: bold;
                background-color: $color-orange;
            }

            &:nth-child(6), &:nth-child(7) {
                width: 100%;
                margin: 0;
            }
        }
    }

    // reCAPTCHA
    .wpcf7-form-control-wrap {
        width: 100%;
    }
}

// Public Education Program Request
#wpcf7-f1314-o1 {
    .wpcf7-form {
        display: flex;
        flex-wrap: wrap;

        p {
            width: 49%;
            margin: 0 1% 0 0;

            label > sup {
                color: red;
            }

            // Radio
            .wpcf7-radio {
                display: block;
                margin-bottom: 20px;
            }

            // Checkboxes
            .wpcf7-checkbox {
                .wpcf7-list-item {
                    width: 100%;
                    margin: 0;
                }
            }

            input[type="submit"] {
                margin-top: 20px;
                font-family: $font-main;
                font-size: 0.85rem;
                font-weight: bold;
                background-color: $color-orange;
            }

            &:nth-child(18) {
                width: 100%;
                margin: 0;
            }
        }
    }

    // reCAPTCHA
    .wpcf7-form-control-wrap {
        width: 100%;
    }
}

// Register for Nature News AND Tell us what you think about Nature News
#wpcf7-f953-o1, #wpcf7-f961-o2 {
    .wpcf7-form {
        display: flex;
        flex-wrap: wrap;

        p {
            width: 49%;
            margin: 0 1% 0 0;

            label > sup {
                color: red;
            }

            // Radio
            .wpcf7-radio {
                display: block;
                margin-bottom: 20px;
            }

            // Checkboxes
            .wpcf7-checkbox {
                .wpcf7-list-item {
                    width: 100%;
                    margin: 0;
                }
            }

            input[type="submit"] {
                margin-top: 20px;
                font-family: $font-main;
                font-size: 0.85rem;
                font-weight: bold;
                background-color: $color-orange;
            }

            &:nth-child(4), &:nth-child(5) {
                width: 100%;
                margin: 0;
            }
        }
    }

    // reCAPTCHA
    .wpcf7-form-control-wrap {
        width: 100%;
    }
}

@media screen and (max-width: $media-tablet) {
    .responsive #top #wrap_all #main {
        // Contact Form 7
        .wpcf7-form {
            display: flex;
            flex-wrap: none;

            p {
                width: 100%;
                margin: 0;

                &:nth-child(6) {
                    width: 100%;
                    margin: 0;
                }

                &:nth-child(7) {
                    width: 100%;
                    margin: 0;
                }

                &:nth-child(8) {
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }
}