#top #wrap_all {
	#emergencies {
		background-color: $color-orange;

		p {
			margin: 0;
			color: white;
			font-size: 0.75em;
			font-weight: 700;
			text-align: center;
		}
	}

	#header_main {
	    .av-logo-container {
	        height: 120px;

	        .inner-container {
	            padding: 20px;

	            .logo {}
	        }
	    }
	}
}