#top #wrap_all #main {
	position: absolute;
	top: 70px;
	width: 100%;

	// Standard inner layout
	.main_color {
		border: none;

		.template-page.av-content-small {
			border-color: $color-orange;
		}
	}

	#section-black, #section-orange {
		background-color: $color-gray-dark;

		.container .template-page .flex_column {
			.av-special-heading {
				h1, h2, h3, h4, h5, h6 {
					color: white;
				}

				.av-subheading p {
					color: white;
				}			
			}

			.av_textblock_section {
				p {
					color: white;
				}
			}
		}
	}

	#section-orange {
		background-color: $color-orange;
	}

	// 3/5, 2/5
	#inner-3-5 {
		.av_two_fifth {
			background-color: $color-orange;
			padding: 30px;

			.av-special-heading {
				.av-special-heading-tag {
					color: white;
				}
			}

			.av_textblock_section {
				.avia_textblock {
					p {
						color: white;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $media-navswitch) {
	.responsive #top #wrap_all #main {
		top: 0;
	}
}

@media screen and (max-width: $media-mobile) {
	.responsive #top #wrap_all #main {
		// Standard inner layout
		.main_color {
			border: none;
			
			.template-page {
				padding: 25px 0;
			}
		}
	}
}