#top #wrap_all #header_main_alternate {
	background-color:$color-gray-dark;

	.container {
		// width: 100%;
		// max-width: 100%;
		// padding: 0;

		.main_menu {

		}
	}

	#avia-menu {
		display: flex;

		li {
			flex: 1;
			text-align: center;
			padding: 0;
			border-left: 1px solid rgba(white, 0.25);

			a {
				color: white;
				font-size: 0.85em;
				font-weight: 300;
				padding: 0;

				.avia-menu-fx {
					background-color: $color-orange;
					border-color: $color-orange;
				}
			}

			&:last-child {
				border-right: 1px solid rgba(white, 0.25);
			}
			
			// Help
			&:nth-child(4) {
				flex: 0.75;
			}
			
			// Research & Conservation
			&:nth-child(6) {
				flex: 1.75;
			}
			
			// Search icon
			&:nth-child(10) {
				flex: 0.45;
			}
		}
	}
}