// Colors
$color-orange: #da5834;
$color-red: #B43732;
$color-tan-light: #efe7db;
$color-tan-dark: #c5b8a6;
$color-gray-dark: #333333;

// Fonts
$font-main: 'Roboto', sans-serif;
$font-awesome: FontAwesome;

// Breakpoints
$media-desktop-lg: 1200px;
$media-desktop-sm: 1024px;
$media-tablet: 768px;
$media-mobile: 480px;
